@import 'bootstrap/dist/css/bootstrap.min.css';

/* PrimeIcons CSS */
@import 'primeicons/primeicons.css';



/* ===== FONT DECLARATIONS ===== */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 100%;
}


